<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiaw2.mysecondapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LicenseKeyboardActivity"></activity>
        <activity android:name=".ShowEditTextActivity"></activity>
        <activity android:name=".FragmentContainActivity"></activity>
        <activity android:name=".AlarmManagerTestActivity"></activity>
        <activity android:name=".MarqueeTestActivity"></activity>
        <activity android:name=".VideoPlayerActivity"></activity>
        <activity android:name=".ViewPagerTestActivity"></activity>
        <activity android:name=".ListviewItemDeleteActivity"></activity>
        <activity android:name=".DefinedMarqueeActivity"></activity>

        <receiver android:name="receiver.AlarmTestReceiver">
            <intent-filter>
                <action android:name="alarm_clock"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
